# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [16]:
weather_df=pd.read_csv('../WeatherPy/weather_data.csv')

#weather_df_condensed=weather_df[:20]

weather_df.describe()

,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Date
count,532.000000,532.000000,532.000000,532.000000,532.000000,532.000000,5.320000e+02
mean,19.462834,17.433942,50.045075,74.110902,55.197368,8.420658,1.611782e+09
std,33.406072,88.698747,32.872823,19.285469,39.642049,5.956980,6.113930e+01
min,-54.800000,-175.200000,-47.810000,11.000000,0.000000,0.130000,1.611782e+09
25%,-8.367075,-60.658325,30.000000,65.000000,11.750000,3.595000,1.611782e+09
50%,22.523200,18.341750,60.800000,79.000000,74.500000,7.445000,1.611782e+09
75%,48.804425,96.384050,77.000000,88.000000,91.000000,10.987500,1.611782e+09
max,78.218600,179.316700,97.360000,100.000000,100.000000,34.520000,1.611782e+09

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [19]:
# Store latitude and longitude in locations
#city = weather_df_condensed[["Lat", "Lng"]]
city = weather_df[["Lat", "Lng"]]

# Fill NaN values and convert to float
#humidity = weather_df_condensed["Humidity"].astype(float)
humidity = weather_df["Humidity"].astype(float)

In [20]:
# Plot Heatmap
fig = gmaps.figure(map_type="HYBRID")

# Create heat layer
heat_layer = gmaps.heatmap_layer(city, weights=humidity, 
                                 dissipating=False)

# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [34]:
weather_df.dtypes

City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity      float64
Cloudiness    float64
Wind Speed    float64
Country        object
Date          float64
dtype: object

In [52]:
#Create a new dataframe with the ideal weather conditions:
# Humidity less than or equal to 50%
# Max Temperature between 65F and 75F
# Cloudiness <10%

ideal_weather_df=weather_df[(weather_df['Humidity']<=50)&(weather_df['Max Temp']>=65)&(weather_df['Max Temp']<=75)&(weather_df['Cloudiness']<=10)]
ideal_weather_df.describe()

,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Date
count,9.000000,9.00000,9.000000,9.000000,9.000000,9.000000,9.000000e+00
mean,10.033756,-3.62890,70.532222,29.222222,0.888889,10.316667,1.611782e+09
std,21.803410,42.37877,3.797087,11.723670,2.666667,5.917009,9.164803e+01
min,-28.450000,-105.75000,65.460000,14.000000,0.000000,1.280000,1.611782e+09
25%,14.318800,-9.50000,66.920000,17.000000,0.000000,5.840000,1.611782e+09
50%,18.685300,2.08660,72.640000,30.000000,0.000000,9.330000,1.611782e+09
75%,22.550000,18.13330,73.830000,39.000000,0.000000,13.200000,1.611782e+09
max,29.583300,46.72190,74.440000,45.000000,8.000000,18.990000,1.611782e+09

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure